schema/schema_sherlock.rnc

start = body-text
body-text = element text {titleText, author, ch+}
# Consolidate to something like a <meta> tag to contain *all* your metadata.
titleText = element titleText {text}
author = element author {text}
ch = element ch {no, title, p+}
no = attribute no {text}
# xsd:int data type
title = element title {text}
p = element p { mixed {desc*} }
# Quotes can occur outside descriptions. 
desc = element desc { text,  n*, vb*, adj*, adv*, q*, subq*, target }
# desc = element desc { target, host, mixed { ( n | vb | adj | adv | q )* } }
target = attribute target { "obj" | "pers" }
n = element n { mixed{ type?,  att?} }
vb = element vb { mixed{ type?,  att?} }
adj = element adj { mixed{ type?, att?} }
adv = element adv { mixed{ type?, att?} }
# Redefine content models from lines 15-18 to better reflect the content model in the XML (example of treating attributes on line 13).
type = attribute type {"prim" | "erot" | "violent" |"exotic" }
att = attribute  att { "ambig" | "pos" | "neg" }
q = element q { speaker }
# element <q> can only take a @speaker attribute right now.
speaker = attribute speaker {"name"}
# Revise your content model on line 23. As of now @speaker="name" is the only legal value.
subq = element subq { source }
# See line 23.
source = attribute source {"pub" | "other"}

