schema/schema_sherlock.rnc

start = body-text
body-text = element text {titleText, author, ch+}
titleText = element titleText {text}
author = element author {text}
ch = element ch {no, title, p+}
no = attribute no {text}
title = element title {text}
p = element p { mixed {desc*} }
desc = element desc { text,  n*, vb*, adj*, adv*, q*, subq*, target }
target = attribute target { "obj" | "pers" }
n = element n { mixed{ type?,  att?} }
vb = element vb { mixed{ type?,  att?} }
adj = element adj { mixed{ type?, att?} }
adv = element adv { mixed{ type?, att?} }
type = attribute type {"prim" | "erot" | "violent" |"exotic" }
att = attribute  att { "ambig" | "pos" | "neg" }
q = element q { speaker }
speaker = attribute speaker {"name"}
subq = element subq { source }
source = attribute source {"pub" | "other"}

